:root.dark {
  --main-color: #333333;

  --selection-text-color: #413a1f;
  --selection-bg-color: #fdfdfd;

  // 主体
  --bg-color: #333333;
  --text-color: #f4f4f4;

  --ring-color: oklch(0.32 0 0);

  // 通用卡片
  --card-color: #262626;
  --card-text-color: oklch(0.98 0 0);

  // 编辑器
  --editor-bg-color: #262626;
  --editor-text-color: oklch(0.98 0 0);
  --editor-title-color: oklch(0.9 0.01 136.32);
  --tag-editor-border-color: oklch(0.33 0 0);

  // 小组件
  --widget-bg-color: #212121;
  --widget-title-color: oklch(0.97 0 0);
  --widget-text-color: oklch(0.97 0.01 136.32);

  // 时间轴
  --timeline-line-color: oklch(0.56 0 0);
  --timeline-dot-color: oklch(64.6% 0.222 41.116);
  --timeline-datetime-color: oklch(70.5% 0.213 47.604);
  --timeline-tag-color: oklch(0.8 0.02 216.48);

  // Echo
  --echo-card-btn-bg-color: #262626;
  --echo-detail-bg-color: #262626;
  --echo-text-color: oklch(0.9 0.01 136.32);

  // 通用组件
  --btn-bg-color: oklch(23.129% 0.0063 214.626);
  --btn-ring-color: oklch(0.23 0 0);
  --input-bg-color: #262626;
}
