// File: src/themes/index.scss
@use './light.scss';
@use './dark.scss';

// widget
.widget {
  background-color: var(--widget-bg-color);
  color: var(--widget-text-color);
}
.widget-title {
  color: var(--widget-title-color);
}
