:root.light {
  --bg-color: #f4f1ec;
  --text-color: #1a1a1a;

  --card-color: #ffffff;
  --card-text-color: oklch(70.7% 0.022 261.325);

  --widget-bg-color: #ffffff;
  --widget-title-color: oklch(44.6% 0.03 256.802);
  --widget-text-color: oklch(55.3% 0.013 58.071);
}
